@import "_normalize";
@import "_variables";


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $darkblue;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20vh;

  &__wrap {
    text-align: center;
  }
}