@import "_normalize";
@import "_variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  color: $yellow;
  background: $darkblue;
  font-family: 'Roboto', sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20vh;

  &__wrap {
    text-align: center;
    position: relative;

    &--counter {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

  }
}